body {
    background: #569E4B;
}
.Client_Button {
    background-color: #6D2222;
    height: 250px;
    width: 250px;
    left: 159px;
    top: 267px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    z-index: 1;
}
.Admin_Button {
    background-color: #6D2222;
    height: 250px;
    width: 250px;
    left: 973px;
    top: 267px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    z-index: 1;
}
.Jesus {
    position: absolute;
width: 726px;
height: 1037px;
left: 720px;
top: -13px;
}
.Tokyo {
    position: absolute;
width: 720px;
height: 1024px;
left: 0px;
top: 7px;
}
.Ticket_button_1 {
    position: absolute;
width: 434px;
height: 118px;
left: 95px;
top: 109px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
}
.Ticket_button_2 {
    position: absolute;
width: 434px;
height: 118px;
left: 95px;
top: 295px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
}
.Ticket_button_3 {
    position: absolute;
width: 434px;
height: 125px;
left: 95px;
top: 481px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
}
.Ticket_button_4 {
    position: absolute;
width: 434px;
height: 118px;
left: 95px;
top: 662px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
font-style: normal;
}
.Tickets {
    position: absolute;
width: 416px;
height: 112px;
left: 104px;
top: 20px;
font-size: 40px;
text-align: center;

}
.Cancel_travel {
    position: absolute;
width: 424px;
height: 117px;
left: 937px;
top: 649px;
background: #3DD03A;
text-align: center;
font-size: 40px;
}
.Change_travel {
    position: absolute;
width: 424px;
height: 117px;
left: 937px;
top: 817px;
background: #3DD03A;
text-align: center;
font-size: 40px;
}
.Back {
    position: absolute;
width: 150px;
height: 40px;
background-color: red;
text-align: center;
font-size: 15px;
}
ul {
   margin: 0;
   padding: 0;
  list-style: none;
}
ul li{
  margin: 0
  color: black;
  text-align: left;
  padding: 6px 7px;
  font-size: 15px;
  background: white;
  width: 75%;
}
a {
    color: black;
    text-decoration: none;
}
#countryInput {
    width: 60%;
    padding: 10px;
    font-size: 15px;

}

#dateInput{
  width: 60%;
    padding: 10px;
    font-size: 15px;
}
.Search {
display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  border: 3px solid green;
  
}
.searchField
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.searchEngine{
  text-align: center;   
} 

.searchResults{
text-align: center;   
margin-left:19.43%;
    
}
