body {
    background: #569E4B;
}
.Client_Button {
    background-color: #6D2222;
    height: 250px;
    width: 250px;
    left: 300px;
    top: 267px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    z-index: 1;
}
.Admin_Button {
    background-color: #6D2222;
    height: 250px;
    width: 250px;
    left: 1300px;
    top: 267px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    z-index: 1;
}
.Jesus {
    position: absolute;
width: 1030px;
height: 955px;
left: 900px;
top: 0px;
}
.Tokyo {
    position: absolute;
width: 930px;
height: 955px;
left: 0px;
top: 0px;
}
#mybtn1 {
    position: absolute;
width: 434px;
height: 118px;
left: 95px;
top: 109px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
}
#mybtn2 {
    position: absolute;
width: 434px;
height: 118px;
left: 95px;
top: 295px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
}
#mybtn3 {
    position: absolute;
width: 434px;
height: 125px;
left: 95px;
top: 481px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
}
#mybtn4 {
    position: absolute;
width: 434px;
height: 118px;
left: 95px;
top: 662px;
background-color: #9e9595;
text-align: center;
font-size: 40px;
font-style: normal;
}
.Tickets {
    position: absolute;
width: 416px;
height: 112px;
left: 104px;
top: 20px;
font-size: 40px;
text-align: center;

}
.Cancel_travel {
    position: absolute;
width: 424px;
height: 117px;
left: 937px;
top: 649px;
background: #3DD03A;
text-align: center;
font-size: 40px;
}
.Change_travel {
    position: absolute;
width: 424px;
height: 117px;
left: 937px;
top: 817px;
background: #3DD03A;
text-align: center;
font-size: 40px;
}
.Back {
    position: absolute;
width: 150px;
height: 40px;
background-color: red;
text-align: center;
font-size: 15px;
}
ul {
   margin: 0;
   padding: 0;
  list-style: none;
}
ul li{
  margin: 0
  color: black;
  text-align: left;
  padding: 6px 7px;
  font-size: 15px;
  background: white;
  width: 75%;
}
a {
    color: black;
    text-decoration: none;
}
#countryInput {
    width: 60%;
    padding: 10px;
    font-size: 15px;

}

#dateInput{
  width: 60%;
    padding: 10px;
    font-size: 15px;
    
}
.Search {
display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
  border: 3px solid green;
  
}
.searchField
{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  height: 170px;
  background-color: rgb(128, 0, 128);
  z-index: 0;
}
.searchEngine{
  text-align: center;   
} 

.searchResults{
text-align: center;   
margin-left:19.43%;
    
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.About {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
  border: 3px solid green;
}
.Log_out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
  border: 3px solid green;
}
.Brazil {
  text-align: center;
  font-size: 70px;
  color:rgb(70, 0, 128);
  width: 100%;
  
}
.brazil {
  background-color: rgb(128, 0, 128);
  height: 170px;
  width: 2200px;
  align-self: center;
}
.beez_nuts{
  position:relative;
  font-size: 37px;
  background: #7ebe74;
  width: 45%;
  height: 800px;
  align-content: center;
  text-align: center;
  margin-left: 28%;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  z-index: -5;
  box-sizing: border-box;
}

.bgJesus{
  position: absolute;
 z-index: -7;
 width: 535px;
 height: 400px;
 top: 18%; 
 }
 .bgBeach{
   position: absolute;
 z-index: -7;
 width: 535px;
 height: 410px;
 top:60%; 
 }

 .bgPlane{
   position: absolute;
 z-index: -7;
 width: 525px;
 height: 400px;
 top: 18%;
 left: 72%; 
 }
 .bgyes{
  position: absolute;
 z-index: -7;
 width: 525px;
 height: 410px;
 top: 60%;
 left: 72%