<!DOCTYPE html>
<html>
<head>
<title>Tickets</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h1 class="Tickets">Tickets</h1>
    <button class="Back">
        <a href="/client-main"> Back to Main Page</a>
    </button>
    <button class="Ticket_button_1">
        <a href="">Economy 6.00EUR</a>
    </button>
    <button class="Ticket_button_2">
        <a href="">Premium Economy 12.00EUR</a>
    </button>
    <button class="Ticket_button_3">
        <a href="">Buisness class 24.00EUR</a>
    </button>
    <button class="Ticket_button_4">
        <a href="">First class 300.00EUR</a>
    </button>
    <button class="Cancel_travel">
        <a href="">Click here to change your destination...</a>
    </button>
    <button class="Change_travel">
        <a href="">Click here to cancel your travel...</a>
    </button>
    <script src="static/js/global.js"></script>
</body>
</html>