<!DOCTYPE html>
<html>
<head>
<title>Tickets</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h1 class="Tickets">Tickets</h1>
    <button class="Back">
        <a href="/client-main"> Back to Main Page</a>
    </button>
    <button id="mybtn1" class="Ticket_button">
        <a>Economy 6.00EUR</a>
    </button>
    <button id="mybtn2" class="Ticket_button">
        <a>Premium Economy 12.00EUR</a>
    </button>
    <button id="mybtn3" class="Ticket_button">
        <a>Buisness class 24.00EUR</a>
    </button>
    <button id="mybtn4" class="Ticket_button">
        <a>First class 300.00EUR</a>
    </button>
    <button class="Change_travel">
        <a href="/search">Click here to change your destination...</a>
    </button>
    <button class="Cancel_travel">
        <a href="/client-main">Click here to cancel your travel...</a>
    </button>
    <div id="myModal" class="modal">
      <div class="modal-content">
      <span class="close">&times;</span>
      <p>Thank you for your purchase!</p>
      </div>
    </div>
    <script src="static/js/yes.js"></script>
</body>
</html>