<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <div class="searchEngine">
    <input type="text" id="countryInput" onkeyup="country_search()" placeholder="Search for names...">
    <span class="validity"></span>
  </div>
  <div class="searchResults">
    <ul id="countryUL">
        <li><a href="/checkout">Mexico</a></li>
        <li><a href="/checkout">America</a></li>
        <li><a href="/checkout">Japan</a></li>
        <li><a href="/checkout">China</a></li>
        <li><a href="/checkout">Egypt</a></li>
        <li><a href="/checkout">Germany</a></li>
        <li><a href="/checkout">Britan</a></li>
        <li><a href="/checkout">Brazil</a></li>
        <li><a href="/checkout">Canada</a></li>
        <li><a href="/checkout">France</a></li>
        <li><a href="/checkout">Poland</a></li>
    </ul>
    <div class="searchEngine">
      <input type="text" id="dateInput" onkeyup="date_search()" placeholder="Enter date (yyyy-mm-dd)...">
    </div>
    <ul id="dateUL">
        <li><a href="/checkout">2021-06-20</a></li>
        <li><a href="/checkout">2021-06-21</a></li>
        <li><a href="/checkout">2021-06-22</a></li>
        <li><a href="/checkout">2021-06-23</a></li>
        <li><a href="/checkout">2021-06-24</a></li>
        <li><a href="/checkout">2021-06-25</a></li>
        <li><a href="/checkout">2021-06-26</a></li>
        <li><a href="/checkout">2021-06-27</a></li>
        <li><a href="/checkout">2021-06-28</a></li>
        <li><a href="/checkout">2021-06-29</a></li>
        <li><a href="/checkout">2021-06-30</a></li>
    </ul>
    </div>
    <script src="static/js/search.js"></script>
   
    <script src="static/js/global.js"></script>
</body>
</html>